<main class="modal_container">
  <section class="modal_header">
    <div class="heading">View Uploaded Files</div>
    <button class="close" (click)="close()">&times;</button>
  </section>
  <section class="modal_content customScroll">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Document Name</th>
          <th>Document Description</th>
          <th style="width: 30%">Filename</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let data of projectsSandbox.fileList$ | async; let i = index"
        >
          <td>{{ i + 1 }}</td>

          <td>{{ data.document_name }}</td>
          <td>{{ data.document_description }}</td>
          <td>{{ data.file_name }}</td>
          <td>
            <mat-icon class="view" (click)="viewFile(data)"
              >visibility</mat-icon
            >
            <mat-icon class="delete" (click)="deleteFile(data)"
              >delete</mat-icon
            >
          </td>
        </tr>
      </tbody>
    </table>
  </section>
  <section class="modal_footer">
    <section class="modal_footer">
      <button class="bttn" (click)="close()">
        <span>Close</span>
      </button>
    </section>
  </section>
</main>
