<aside class="sidebar">
  <div class="logo-box">
    <figure class="fig">
      <img src="../../../../assets/imgs/logo.png" alt="logo" />
    </figure>
  </div>
  <nav class="customScroll">
    <div class="navigation" *ngFor="let nav of menu">
      <div class="title" *ngIf="!nav.isTitleDisable">
        {{ nav.title }}
      </div>
      <div
        class="main-container-box"
        (click)="openMainMenu(main)"
        *ngFor="let main of nav.main"
        [ngClass]="{ disable: main.isDisable === true }"
      >
        <div
          class="main_title"
          [ngClass]="{
            active: main.path == activeMenu
          }"
        >
          <figure class="span-1">
            <mat-icon class="icon">{{ main.icon }}</mat-icon>
          </figure>
          <span class="text">{{ main.title }}</span>
        </div>
      </div>
    </div>
  </nav>
  <section class="profile-container-box">
    <span class="user-name">Welcome, {{ userData.member_name }} !</span>
    <div class="icon-box">
      <figure>
        <img src="../../../../assets/imgs/userlogo.png" alt="user" />
      </figure>
      <span (click)="settingsFunc()">
        <fa-icon [icon]="faGear"></fa-icon>
      </span>
      <span (click)="logout()">
        <fa-icon [icon]="faRightToBracket"></fa-icon>
      </span>
    </div>
  </section>
</aside>
