main {
  width: 100%;
  height: 100%;

  .status {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-inline: 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
    font-size: 1.3rem;
    width: 10rem;
    text-align: center;
    padding-block: 0.25rem;
  }
  ._alert {
    background-color: var(--light-purple);
    color: var(--purple);
  }
  .success {
    background-color: var(--success-light);
    color: var(--success);
  }
  .warning {
    background-color: var(--warning-light);
    color: var(--warning);
  }
}

:host ::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #fafafa !important;
}

:host ::ng-deep .mat-checked .mat-slide-toggle-bar {
  background-color: var(--green);
}
