<main>
  <section class="header">
    <p>Whatsapp Templates</p>
    <div class="bttn-box">
      <button style="width: 12rem" class="bttn">
        <span> Add New </span>
      </button>
    </div>
  </section>
  <section class="main-box customScroll">
    <div class="template-box">
      <div class="template">
        <header>Template Id : Welcome Notes</header>
        <article>
          <p>Content</p>
          <div class="content customScroll">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
            explicabo a, iure labore consequuntur similique doloribus
            consectetur dignissimos perferendis voluptatibus ipsam! Dicta ea
            iste magnam porro mollitia cum possimus assumenda! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Dolor, corrupti sint
            laboriosam est molestiae animi cumque sed qui, debitis tempora ipsum
            minus libero sunt consequuntur ab quia non voluptatem fugiat.
          </div>
        </article>
      </div>
      <div class="template">
        <header>Template Id : Welcome Notes</header>
        <article>
          <p>Content</p>
          <div class="content customScroll">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
            explicabo a, iure labore consequuntur similique doloribus
            consectetur dignissimos perferendis voluptatibus ipsam! Dicta ea
            iste magnam porro mollitia cum possimus assumenda! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Dolor, corrupti sint
            laboriosam est molestiae animi cumque sed qui, debitis tempora ipsum
            minus libero sunt consequuntur ab quia non voluptatem fugiat.
          </div>
        </article>
      </div>
      <div class="template">
        <header>Template Id : Welcome Notes</header>
        <article>
          <p>Content</p>
          <div class="content customScroll">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
            explicabo a, iure labore consequuntur similique doloribus
            consectetur dignissimos perferendis voluptatibus ipsam! Dicta ea
            iste magnam porro mollitia cum possimus assumenda! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Dolor, corrupti sint
            laboriosam est molestiae animi cumque sed qui, debitis tempora ipsum
            minus libero sunt consequuntur ab quia non voluptatem fugiat.
          </div>
        </article>
      </div>
      <div class="template">
        <header>Template Id : Welcome Notes</header>
        <article>
          <p>Content</p>
          <div class="content customScroll">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque
            explicabo a, iure labore consequuntur similique doloribus
            consectetur dignissimos perferendis voluptatibus ipsam! Dicta ea
            iste magnam porro mollitia cum possimus assumenda! Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Dolor, corrupti sint
            laboriosam est molestiae animi cumque sed qui, debitis tempora ipsum
            minus libero sunt consequuntur ab quia non voluptatem fugiat.
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
