<div *ngIf="projectSandbox.templateListLoading$ | async">
  <app-page-loader></app-page-loader>
</div>

<main>
  <section class="header">
    <p>Whatsapp Templates</p>
    <div class="bttn-box">
      <button
        style="width: 12rem"
        class="bttn"
        [routerLink]="['/projects/add-template']"
      >
        <span> Add New </span>
      </button>
    </div>
  </section>
  <div
    class="notification"
    *ngIf="
      (projectSandbox.templateList$ | async)?.status == 0 &&
      !(projectSandbox.templateList$ | async)?.data.length
    "
  >
    No templates created click Add New to create some !
  </div>

  <section
    class="main-box customScroll"
    *ngIf="
      (projectSandbox.templateList$ | async)?.status == 1 &&
      (projectSandbox.templateList$ | async)?.data.length
    "
  >
    <div class="template-box">
      <div
        class="template"
        *ngFor="let temp of (projectSandbox.templateList$ | async)?.data"
      >
        <header>Template Id : {{ temp.template_id }}</header>
        <article>
          <p>Template Content :</p>
          <div class="content customScroll">
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp;{{ temp.template_text }}
          </div>
        </article>
      </div>
    </div>
  </section>
</main>
