.modal_container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem 4rem;
  position: relative;
  .modal_header {
    height: 10%;
    width: 100%;
    text-align: center;
    span {
      font-size: 2.2rem;
      font-weight: 700;
      color: var(--primary);
    }
    button {
      position: absolute;
      right: 2rem;
      top: 1rem;
      font-size: 3.5rem;
      color: var(--font-muted);
      background-color: transparent;
    }
  }
  .modal_content {
    width: 100%;
    height: 80%;

    .content-box {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 30% 1fr;

      .box1 {
        background-color: var(--light-gray);
        height: 100%;
        padding-block: 1rem;
        nav {
          width: 100%;
          min-height: 5rem;
          border-bottom: 1px solid #ddd;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          color: var(--font-muted);
          cursor: pointer;
          &:hover {
            background-color: #fafafa;
          }
        }
      }
      .box2 {
        background-color: #fafafa;
        height: 100%;
        padding: 2rem 3rem;
        header {
          margin-bottom: 1rem;
          // color: var(--purple);
          font-weight: bolder;
        }
        label {
          display: block;
        }
        input {
          border: var(--border);
          padding: 1rem;
          width: 80%;
          margin-bottom: 1rem;
        }
      }
    }
  }
  .modal_footer {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 4rem;
    .bttn {
      width: 12rem;
    }
  }
  ::ng-deep .ng-select-container {
    height: 43px !important;
  }
}

input#session-date {
  display: inline-block;
  position: relative;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  bottom: 0;
  color: transparent;
  cursor: pointer;
  height: auto;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
}
.availability {
  width: 100%;
}
.availability-option {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  span {
    display: block;
    padding-inline: 1rem;
    border: 1px solid;
    border-radius: 1.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    // background-color: var(--light);
    box-shadow: var(--box-shadow-primary);
    cursor: pointer;
  }
  .success {
    border-color: var(--success);
    color: var(--success);
    &:hover,
    &.active {
      background-color: var(--success);
      color: var(--light);
    }
  }
  .warning {
    border-color: var(--warning);
    color: var(--warning);
    &:hover,
    &.active {
      background-color: var(--warning);
      color: var(--light);
    }
  }
  ._alert {
    border-color: var(--purple);
    color: var(--purple);
    &:hover,
    &.active {
      background-color: var(--purple);
      color: var(--light);
    }
  }
}

.activenav {
  background-color: #fafafa;
  color: var(--purple) !important;
}
