<main class="modal_container">
  <section class="modal_header">
    <span>Settings</span>
    <button (click)="close()">&times;</button>
  </section>
  <section class="modal_content">
    <div class="content-box">
      <div class="box1">
        <nav
          *ngFor="let item of dataArr"
          (click)="onSelect(item)"
          [ngClass]="{ activenav: item.isActive == true }"
        >
          {{ item.name }}
        </nav>
      </div>
      <div class="box2">
        <header>{{ dataArr[data - 1].name }}</header>
        <ng-container *ngIf="data == 1">
          <div class="availability">
            <p class="availability-option">
              <span
                *ngFor="let state of availability"
                class="{{ state.class }} active"
                [ngClass]="{ active: state.active == true }"
                (click)="OnChangeAvailability(state)"
              >
                {{ state.unnest }}
              </span>
            </p>
          </div>
        </ng-container>
        <ng-container *ngIf="data == 2">
          <form action="" [formGroup]="form">
            <div class="input-box">
              <label for="email">Email</label>
              <input
                type="text"
                name="email"
                placeholder="Enter email"
                formControlName="email"
              />
            </div>
            <div class="input-box">
              <label for="password"> Password</label>
              <input
                type="text"
                name="password"
                placeholder="Enter password"
                formControlName="password"
              />
            </div>
            <div class="input-box">
              <label for="newPassword">New Password</label>
              <input
                type="text"
                name="newPassword"
                placeholder="Enter new password"
                formControlName="newPassword"
              />
            </div>
          </form>
        </ng-container>
      </div>
    </div>
  </section>
  <section class="modal_footer">
    <button class="bttn" (click)="onConfirm()"><span>Confirm</span></button>
    <button class="bttn warning-outline" (click)="close()">
      <span>Cancel</span>
    </button>
  </section>
</main>
