.modal_container {
  height: 85vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  position: relative;
  .modal_header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .heading {
      font-size: 2rem;
      color: var(--primary);
      font-weight: 500;
      letter-spacing: 1px;
      text-transform: uppercase;
    }
    .close {
      position: absolute;
      right: 2rem;
      top: 1rem;
      font-size: 3.5rem;
      color: var(--font-muted);
      background-color: transparent;
    }
  }
  .modal_content {
    width: 100%;
    height: 80%;
    padding-inline: 6rem;
    .upload-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      flex-flow: column-reverse;
    }
    .box-1 {
      display: flex;
      gap: 2rem;
      flex: 1;
    }
    .box-2 {
      flex: 3;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .file-box {
        width: 50%;
        height: 90%;
        border: 2px dashed #7b2cbf;
        border-radius: 40px;
        text-align: center;
        background-color: var(--light);
        box-shadow: var(--box-shadow-primary);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        gap: 1rem;
        input[type="file"] {
          display: none;
        }
        .icon {
          width: 8rem;
          cursor: pointer;
        }
        .choose {
          margin-bottom: 1rem;
          font-weight: 500;
          color: var(--purple);
          cursor: pointer;
        }
      }
    }
    .input-box {
      flex: 1;
      input {
        padding: 0.8rem;
        border: var(--border);
        width: 100%;
        border-radius: 0.5rem;
        letter-spacing: 1px;
        background-color: var(--light);
        box-shadow: var(--box-shadow-primary);
      }
    }
  }
  .modal_footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 4rem;
    .bttn {
      width: 12rem;
    }
  }
}
