<main>
  <section class="header">
    <p>
      <span>Add Customer </span>
    </p>
    <div class="bttn-box">
      <button
        style="width: 13rem"
        class="bttn warning-outline"
        (click)="onCancelBtnClick()"
      >
        <span> Cancel </span>
      </button>
      <button style="width: 13rem" class="bttn" (click)="onCreateBtnClick()">
        <!-- [ngClass]="(usersSandbox.createUserLoading$ | async) && 'block'" -->

        <!-- <i
          class="fa fa-spinner fa-spin"
          *ngIf="usersSandbox.createUserLoading$ | async"
        ></i> -->
        <span> Add </span>
      </button>
    </div>
  </section>
  <hr />
  <section class="container-box customScroll">
    <form [formGroup]="form" (ngSubmit)="doCreateCustomer()">
      <div class="input-box">
        <div>
          <label>Customer Name </label>
          <input
            type="text"
            placeholder="Enter Username"
            formControlName="name"
          />
        </div>
        <div>
          <label>Email Id </label>
          <input type="text" placeholder="Enter Email" formControlName="mail" />
        </div>
        <div>
          <label>Mobile No </label>
          <input
            Decimalnumeric
            numericType="number"
            minlength="10"
            [maxlength]="10"
            formControlName="mobile"
            placeholder="Enter Mobile Number"
          />
        </div>
      </div>
      <div class="input-box">
        <div>
          <label>Alternate No </label>
          <input
            type="text"
            Decimalnumeric
            numericType="number"
            minlength="10"
            [maxlength]="10"
            formControlName="alterMobile"
            placeholder="Enter Alternate Number"
          />
        </div>
        <div>
          <label>Followup Date </label>
          <!-- <input type="date" placeholder="" /> -->
          <mat-form-field (click)="toDate.open()">
            <input
              matInput
              [matDatepicker]="toDate"
              [min]="toMinDate"
              [max]="toMaxDate"
              readonly
              placeholder="To Date"
              style="padding: 1.1rem"
              formControlName="followupDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="toDate"
            ></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <label>Followup Time </label>
          <input
            [ngxTimepicker]="picker"
            formControlName="followupTime"
            readonly
            placeholder="Enter Followup Time"
          />
          <ngx-material-timepicker #picker> </ngx-material-timepicker>
        </div>
      </div>
      <div class="input-box">
        <div>
          <label>Pincode </label>
          <input
            type="text"
            Decimalnumeric
            numericType="number"
            minlength="6"
            [maxlength]="6"
            formControlName="pinCode"
            placeholder="Enter Pincode"
          />
        </div>
        <div>
          <label>Area </label>
          <input type="text" formControlName="area" placeholder="Enter Area" />
        </div>
        <div>
          <label>Action Taken </label>
          <textarea formControlName="actionTaken"></textarea>
        </div>
      </div>
    </form>
  </section>
</main>
