<main>
  <section class="header">
    <p>
      <span>Add Customer </span>
    </p>
    <div class="bttn-box">
      <button
        style="width: 13rem"
        class="bttn warning-outline"
        (click)="onCancelBtnClick()"
      >
        <span> Cancel </span>
      </button>
      <button style="width: 13rem" class="bttn" (click)="onCreateBtnClick()">
        <!-- [ngClass]="(usersSandbox.createUserLoading$ | async) && 'block'" -->

        <!-- <i
          class="fa fa-spinner fa-spin"
          *ngIf="usersSandbox.createUserLoading$ | async"
        ></i> -->
        <span> Add </span>
      </button>
    </div>
  </section>
  <hr />
  <section class="container-box customScroll">
    <form [formGroup]="form" (ngSubmit)="doCreateCustomer()">
      <div class="input-box">
        <div>
          <label>Customer Name <sup>*</sup></label>
          <input
            type="text"
            placeholder="Enter Username"
            formControlName="name"
          />
        </div>

        <div>
          <label>Mobile No<sup>*</sup> </label>
          <input
            Decimalnumeric
            numericType="number"
            minlength="10"
            [maxlength]="10"
            formControlName="mobile"
            placeholder="Enter Mobile Number"
          />
        </div>
        <div>
          <!-- <label>Alternate No </label>
          <input
            type="text"
            Decimalnumeric
            numericType="number"
            minlength="10"
            [maxlength]="10"
            formControlName="alterMobile"
            placeholder="Enter Alternate Number"
          /> -->
        </div>
      </div>
      <div class="input-box">
        <div>
          <label>Project<sup>*</sup></label>
          <ng-select
            [items]="didSandbox.projectList$ | async"
            bindLabel="project_name"
            bindValue="id"
            [searchable]="true"
            placeholder="Select Projects"
            formControlName="project"
            (change)="onSelectProject($event)"
          >
          </ng-select>
        </div>
        <div>
          <label>Agent <sup>*</sup></label>
          <ng-select
            [items]="userSandbox.agentList$ | async"
            bindLabel="member_name"
            bindValue="id"
            [searchable]="true"
            placeholder="Select Agents"
            formControlName="agent"
          >
          </ng-select>
        </div>
        <div></div>
      </div>
      <div class="input-box">
        <div>
          <label>DID <sup>*</sup></label>
          <ng-select
            [items]="customerSandbox.didList$ | async"
            bindLabel=""
            bindValue="id"
            [searchable]="true"
            placeholder="Select DID"
            formControlName="DID"
          >
          </ng-select>
        </div>
      </div>
    </form>
  </section>
</main>
