<div
  *ngIf="
    (commonSandbox.followupListLoading$ | async) ||
    (commonSandbox.todaysCallCountLoading$ | async) ||
    (commonSandbox.chartDataLoading$ | async)
  "
>
  <app-page-loader></app-page-loader>
</div>

<main class="dashboard">
  <section class="header">
    <p>Dashboard</p>
    <div class="select-box">
      <mat-icon class="icon">calendar_today</mat-icon>
      <input
        class="input"
        type="date"
        [value]="dateValue"
        [min]="minDate"
        [max]="maxDate"
        #date
        (change)="onDateChange($event)"
      />
    </div>
  </section>
  <section class="dashboard-content">
    <div class="display-card">
      <div class="_card card-1" (click)="onClickCardFunc()">
        <figure class="fig purple">
          <mat-icon> bar_chart</mat-icon>
        </figure>
        <div class="_card-content">
          <span>
            Total<br />
            Connected Calls</span
          >
          <span class="count-box box-1">
            <span class="count">{{ countObj.incoming_calls }}</span></span
          >
        </div>
        <div class="_card-footer">{{ dateValue | date }}</div>
      </div>
      <div class="_card card-2" (click)="onClickCardFunc()">
        <figure class="fig red">
          <mat-icon> phone_missed</mat-icon>
        </figure>
        <div class="_card-content">
          <span>
            Total<br />
            Missed Calls</span
          >
          <span class="count-box box-2">
            <span class="count" style="color: #fe7883">{{
              countObj.missed_calls
            }}</span></span
          >
        </div>
        <div class="_card-footer">{{ dateValue | date }}</div>
      </div>
      <div class="_card card-3" (click)="onClickCardFunc()">
        <figure class="fig green">
          <mat-icon> phone_in_talk</mat-icon>
        </figure>
        <div class="_card-content">
          <span>
            Total<br />
            Ongoing Calls
          </span>
          <span class="count-box box-3">
            <span class="count" style="color: #18c1a3"
              >{{ countObj.ongoing_calls }}
            </span></span
          >
        </div>
        <div class="_card-footer">{{ dateValue | date }}</div>
      </div>
    </div>

    <div class="follow-ups-container">
      <header>Upcoming Followups</header>

      <div class="follow-box-1 customScroll">
        <div
          class="_warning"
          *ngIf="!(commonSandbox.followupList$ | async)?.length"
        >
          <span style="margin-right: 0.5rem"> No More Followups</span>
          <mat-icon style="color: #fe7883">error_outline</mat-icon>
        </div>

        <ng-container *ngIf="(commonSandbox.followupList$ | async)?.length > 0">
          <div
            class="content"
            *ngFor="let data of commonSandbox.followupList$ | async"
          >
            <div class="icon-box"><mat-icon>person</mat-icon></div>
            <div class="detail">
              <div class="detail-box">
                <label>Agent</label> :{{ data.agent_name }}
              </div>
              <div class="detail-box">
                <label>Customer</label> :
                {{ data.customer_name ? data.customer_name : "N /A" }}
              </div>
            </div>
            <div class="date">
              {{ data.follow_up_date }} <br />
              {{ data.follow_up_time }}
            </div>
          </div>
        </ng-container>
      </div>
      <div class="follow-box-2">
        <div class="content">
          <marquee
            width="100%"
            direction="up"
            height="100%"
            scrollamount="2"
            class="marquee"
          >
            <div class="marquee-content">
              <mat-icon>label_important</mat-icon>
              <div>Welcome to the all new Smart Call - VGN Interface</div>
            </div>
            <div class="marquee-content">
              <mat-icon>label_important</mat-icon>
              <div>Explore our new application architecture and features</div>
            </div>
          </marquee>
        </div>
      </div>
    </div>
    <div class="display-chart">
      <div class="chart-box">
        <highcharts-chart
          [Highcharts]="Highcharts"
          [options]="chartOptions"
          [(update)]="updateFlag"
          style="width: 100%; height: 90%; display: block"
        ></highcharts-chart>
        <div class="chart-select">
          <div class="input-box">
            <input
              type="radio"
              name="group"
              value="total"
              data-color="#6633A6"
              data-title="Total Calls"
              checked
              (change)="onSelectChartTypeFunc($event)"
            />
            <label for="TotalCalls">TotalCalls</label>
          </div>
          <div class="input-box">
            <input
              type="radio"
              name="group"
              value="connected_calls"
              data-color="#717EE3"
              data-title="Connected Calls"
              (change)="onSelectChartTypeFunc($event)"
            />
            <label for="ConnectedCalls">ConnectedCalls</label>
          </div>
          <div class="input-box">
            <input
              type="radio"
              name="group"
              value="missed_calls"
              data-color="#FE7883"
              data-title="Missed Calls"
              (change)="onSelectChartTypeFunc($event)"
            />
            <label for="MissedCalls">MissedCalls</label>
          </div>
          <div class="input-box">
            <input
              type="radio"
              name="group"
              value="ongoing_calls"
              data-color="#18C1A3"
              data-title="Ongoing Calls"
              (change)="onSelectChartTypeFunc($event)"
            />
            <label for="OnGoingCalls">OnGoingCalls</label>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<!-- <mat-tab-group>
    <mat-tab label=" first ">Content 1</mat-tab>
    <mat-tab label="Second">Content 2</mat-tab>
    <mat-tab label="Third">Content 3</mat-tab>
  </mat-tab-group> -->
