main {
  width: 100%;
  height: 100%;
  .container-box {
    background-color: transparent;
    box-shadow: none;
    .content {
      margin-inline: auto;
      display: flex;
      flex-direction: column;
      width: 70%;
      height: 100%;
      padding-top: 2rem;
      .item-box {
        padding: 1.5rem;
        margin-inline: auto;
        margin-bottom: 1.5rem;
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #fafafa;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        border-radius: 1rem;
        border: var(--border);
        .bttn {
          width: 4rem;
          height: 4rem;
          border-radius: 50%;
        }
        .input-box {
          display: block;
          padding-inline: 2rem;
          position: relative;
          input {
            min-width: 25rem;
            padding: 1rem;
            border: var(--border);
            border-radius: 0.5rem;
            background-color: var(--light);
            box-shadow: var(--box-shadow-primary);
          }
          .mat-icon {
            color: var(--primary);
            position: absolute;
            top: 25%;
            right: 10%;
            display: none;
            &.valid {
              display: block;
            }
          }
        }
        .bttn-box {
          width: 100%;
          justify-content: flex-end;
          padding-right: 2rem;
        }
      }
    }
  }
  .invalid {
    border: 1px solid var(--primary) !important;
  }
}
