<!-- <main> -->
<!-- <section class="tab-sheet">
    <ul>
      <li class="list">
        <a
          href="javascript:void(0)"
          [routerLink]="['/projects/list']"
          routerLinkActive="active"
        >
          <span class="icon"><fa-icon [icon]="faRectangleList"></fa-icon></span>
          <span> List</span>
        </a>
      </li>
      <li class="list">
        <a href="javascript:void(0)" [routerLink]="['/projects/']">
          <span class="icon"> <fa-icon [icon]="faSquareXmark"></fa-icon></span
          ><span>Create</span>
        </a>
      </li>
      <li class="list">
        <a href="javascript:void(0)" [routerLink]="[]">
          <span class="icon"> <fa-icon [icon]="faShield"></fa-icon></span
          ><span>Delete</span>
        </a>
      </li>
      <li class="list">
        <a href="javascript:void(0)" [routerLink]="[]">
          <span class="icon"> <fa-icon [icon]="faUnlock"></fa-icon></span
          ><span>Edit</span>
        </a>
      </li>
    </ul>
  </section> -->
<!-- </main> -->
<div class="pages">
  <router-outlet></router-outlet>
</div>
