main {
  .container-box {
    overflow: hidden;
    padding-top: 1rem;
  }
  .bttn {
    width: 12rem;
  }
  .filter-box {
    background-color: var(--light);
    width: 100%;
    height: 7rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap: 2rem;
    font-weight: 400;
    // & :not(:last-child) {
    //   flex: 1;
    // }

    .bttn {
      margin-left: auto;
      margin-right: 1rem;
      width: 14rem;
    }
    .input-container {
      position: relative;
      input {
        padding: 0.25rem 1rem;
        border: var(--border);
        width: 100%;
        border-radius: 0.5rem;
        letter-spacing: 1px;
        box-shadow: var(--box-shadow-primary);
        height: 3.6rem;
        margin-top: 0.5rem;
      }
      .mat-datepicker-toggle {
        position: absolute;
        right: 0.2rem;
        top: -0.2rem;
      }
    }
  }
  .table-box {
    height: calc(100% - 7rem);
    overflow-y: auto;
  }
  .table {
    thead tr {
      top: 0;
    }
    .status {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-inline: 1rem;
      border-radius: 0.5rem;
      font-weight: 700;
      font-size: 1.3rem;
      width: 8rem;
      &.success {
        background-color: var(--success-light);
        color: var(--success);
      }
      &.warning {
        background-color: var(--warning-light);
        color: var(--warning);
      }
    }
  }
}

:host ::ng-deep .mat-form-field-suffix {
  margin-top: 16px !important;
  float: right !important;
  position: absolute !important;
  right: 10px !important;
}

:host ::ng-deep .mat-form-field-infix {
  width: 100% !important;
  border-top: 0px !important;
  padding: 0 !important;
  padding-bottom: 0px !important;
}

:host ::ng-deep .mat-form-field {
  line-height: 0 !important;
  width: 100% !important;
}

:host ::ng-deep .mat-form-field-underline {
  width: 0px !important;
}

:host ::ng-deep .mat-datepicker-toggle-default-icon {
  width: 2rem !important;
  position: absolute;
  // top: 0.8rem;
  // right: 0rem;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding-bottom: 0px !important;
  margin-top: 0px !important;
}
