<!-- <div *ngIf="customersSandbox.onlineLeadsLoading$ | async">
  <app-page-loader></app-page-loader>
</div> -->

<main>
  <section class="header">
    <p>Online Leads</p>
    <div class="bttn-box">
      <div class="search">
        <input
          class="input-search"
          type="text"
          placeholder="Search..."
          [(ngModel)]="keyword"
          (change)="onSearch()"
          (keyup)="keyFunc($event)"
          [ngClass]="keyword && keyword !== '' ? 'expand' : null"
        />
        <button class="bttn-search">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </div>
      <button
        class="bttn warning-outline"
        [ngClass]="(commonSandbox.exportListLoading$ | async) && 'block'"
        (click)="export()"
      >
        <i
          class="fa fa-spinner fa-spin"
          *ngIf="commonSandbox.exportListLoading$ | async"
        ></i>
        <span> Export </span>
      </button>
      <button class="bttn" style="width: 15rem" (click)="onAddBtnClick()">
        <span>Add Customer</span>
      </button>
    </div>
  </section>
  <section
    class="container-box customScroll"
    [ngClass]="
      (customersSandbox.onlineLeadsCount$ | async) <= pageSize && 'fullheight'
    "
  >
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Mobile</th>
          <th>Project</th>
          <th>Agent</th>
          <th>DID</th>
          <th>Added On</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </section>
  <section
    class="pagination-box"
    *ngIf="(customersSandbox.onlineLeadsCount$ | async) > pageSize"
  >
    <pagination-controls
      class="pagination"
      (pageChange)="pageChanged($event)"
    ></pagination-controls>
  </section>
</main>
