.modal_container {
  height: 20vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  .modal_content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal_footer {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }
}
